.menu-subbreed-header,
.menu-breed-header {
  cursor: pointer;
}

.sidemenu-root {
  border: solid 1px black;
  margin-right: 5px;
  padding: 5px;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
