.welcome-root {
  display: flex;
  justify-content: center;
}

.welcome-window {
  width: 100%;
  max-width: 500px;
  border: solid black 1px;
  border-radius: 5px;
  padding: 15px;
  background-color: lightskyblue;
  box-shadow: 0px 5px 20px 1px #808080;
}
